@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400;600&family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container-fluid{
    padding: 0;
}
.row{
    margin: 0;
}
.margin{
    width: 85%;
    margin: 0 auto;
}
body{
    background-color: #f1f1f1;
}
.hide{
    display: none;
}
.pag-disable{
    pointer-events: none;
}
#myBtn{
    display: none;
    position: fixed;
    bottom: 2em;
    right: 2em;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    background-color: transparent;
    width: 2em;
    height: 2em;
  }
  #myBtn svg{
    color: #6d6d6d;
    width: 2em;
    height: 2em;
  }
  #myBtn svg:hover{
    color: #000;
  }


nav{
    background-color: #000;
    box-shadow: 0px .5px 5px 0px 0px .5px 5px 0px #363636;
   .container-fluid{
       padding: 0;
       width: 85%;
       a{
           text-decoration: none;
           color: #fff;
           text-transform: uppercase;
           font-weight: 600;
       }
       a:hover, .nav-link.active:hover, .navbar-brand:hover{
           color: grey;
       }
       #navbarNav{
           justify-content: flex-end;
           .nav-item{
               margin: 0 1em;
           }
       }
   }
}
main{
    margin: 4em 0;
    h2{
        border-bottom: 1px solid #000;
        padding-bottom: .3em;
        text-transform: uppercase;
    }
    a{
        text-decoration: none;
        color: #000;
    }
    #feature-article::after{
        background: radial-gradient(transparent,rgba(0,0,0,.6)),linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.2));
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        content: "";
        border-radius: 20px;
    }
    #feature-article{
        position: relative;
        margin: 0 0 4em 0;
        padding: 0;
        width: 100%;
        transform: translate3d(0, 0, 0);
        transition: transform .15s cubic-bezier(0.33, 0.66, 0.66, 1), -webkit-transform .15s cubic-bezier(0.33, 0.66, 0.66, 1);
        #feature-img{
            overflow: hidden;
            border-radius: 20px;
            box-shadow: 5px 5px 10px -5px #bebebe;
            height: 25rem;
        }
        #feature-text{
            position: absolute;
            width: 60%;
            bottom: 0;
            left: 0;
            border-radius: 0 20px 0 20px;
            padding: 1em 2em;
            z-index: 2;
            color: #fff;
            h3{
                text-transform: uppercase;
                font-weight: 600;
                font-size: 1.875em;
            }
            p{
                font-family: 'Roboto Slab', serif;
                font-weight: 300;
            }
            p:last-of-type{
                font-size: 0.813em;
                font-weight: 200;
            }
        }
    }
    #feature-article:hover{
        transform: translate3d(0, -5px, 0);
    }
    .sub-article{
        width: 33.33%;
        padding: 0 .5em;
        margin-bottom: 3em;
        transform: translate3d(0, 0, 0);
        transition: transform .15s cubic-bezier(0.33, 0.66, 0.66, 1), -webkit-transform .15s cubic-bezier(0.33, 0.66, 0.66, 1);
        .article-content{
            background-color: rgb(252, 252, 252);
            border-radius: 10px;
            box-shadow: 5px 5px 10px -5px #bebebe;
            a:hover{
                color: #3a3a3a;
            }
            .article-img{
                overflow: hidden;
                border-radius: 10px 10px 0 0;
                max-width: 100%;
                height: auto;
            }
            .article-text{
                padding: 1em;
                h3{
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 1.25em;
                }
                p{
                    font-family: 'Roboto Slab', serif;
                }
                p:first-of-type{
                    font-size: 0.875em;
                }
                p:last-of-type{
                    font-size: 0.625em;
                    font-weight: 300;
                }
            }
        }
    }
    .main-pagination{
        nav{
            width: max-content;
            background-color: transparent;
            margin: auto;
            a{
                color: #000;
            }
            .current-page{
                padding: .35em .75em;
                background-color: #fff;
                border: 1px solid #dee2e6;
                transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                p{
                    margin-bottom: 0;
                }
            }
        }
    }
}
.sub-article:hover{
    transform: translate3d(0, -3px, 0);
    .article-content{
        box-shadow: 5px 5px 10px -5px #a1a1a1;
    }
}
footer{
    padding-top: 3em;
    #footer-sec{
        padding: 1em 0 2em 0;
        border-top: 1px solid #000;
        display: flex;
        justify-content: space-between;

        #footer-nav{
            ul{
               flex-direction: row;
               text-transform: uppercase;
               font-weight: 600;
               li:first-child{
                    margin-right: 2em;
                    a{
                        text-decoration: none;
                        color: #000;
                    }
                    a:hover{
                        color: grey;
                    }
               } 
               li{
                padding-top: 0;
               }
            }
        }
        .socialIcons{
            display: flex;
            justify-content: center;
            width: max-content;
            div{
                margin: 0 .5em;
                svg{
                    width: 2em;
                }
                svg:hover{
                    fill: grey;
                }
            }
        }
    }
}

// article post page
.article-post-header{
    .post-feature-img{
        width: 100%;
        height: 400px;
        overflow: hidden;
        .img-fluid{
            width: 100%;
            max-width: none;
            position: relative;
            bottom: 25%;
        }
    }
}
.article-post-main{
    margin-top: 2em;
    #post-title{
        margin-bottom: 4em;
        p:first-of-type{
            margin-bottom: 0;
            font-weight: 400;
            text-transform: uppercase;
            color: #686868;
        }
        h1{
            font-size: 4em;
            font-weight: 800;
        }
        p:last-of-type{
            font-size: 20px;
            font-weight: 500;
            color: #6b6b6b;
            margin-top: 2em;
        }
    }
    #post-content{
        #post-text-content{
            padding: 0 4em 0 0;
            h3{
                font-weight: 600;
                 margin-bottom: 1.05em;
                 font-family: 'Roboto Slab', serif;
            }
            p{
                line-height: 1.813em;
                font-family: 'Roboto Slab', serif;
            }
            .post-content-img{
                margin: 3em 0;
                figure{
                    max-width: max-content;
                    margin: 0 auto;
                    figcaption{
                        font-weight: 300;
                    }
                }
            }
            #prev-next-btns{
                div{
                    width: max-content;
                    padding: 0;
                    margin: 3em 0;
                    text-transform: uppercase;
                }
                #prev-btn a{
                    padding: 1em 1em 1em 0;
                    color: #6b6b6b;
                    svg{
                        margin-right: .5em;
                    }
                }
                #next-btn a{ 
                    padding: 1em 0 1em 1em;
                    color: #6b6b6b;
                    svg{
                        margin-left: .5em;
                    }
                }
                #prev-btn a:hover, #next-btn a:hover{
                    color: #000;
                }
            }
        }
        aside{
            position: sticky;
            top: 0;
            align-self: flex-start;
            .aside-title{
                margin: 1em 0 3em 0;
                hr{
                    height: 2px;
                }
            }
            .sub-article{
                width: 100%;
                margin-bottom: 2em;
                P{
                    margin-bottom: .6em;
                }
            }
        }
    }
}

/*// Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) { 
    *{
        font-size: 12px;
    }
    #myBtn{
        svg{
            width: 3em;
            height: 3em;
        }
    }
    nav{
        .navbar-toggler-icon{
            width: 2em;
            height: 2em;
        }
        ul{
            li{
                text-align: center; 
                .nav-link{
                    padding: 1.5rem 1rem;
                }
                a{
                    font-size: 1.2em;
                }
            }
        }
    }
    main {
        #feature-article{
            #feature-text{
                width: 100%;
            }
        }
        .sub-article, aside>.sub-article{
            width: 50%;
        }
    }
    footer{
        #footer-sec{
            .socialIcons{
                div{
                    svg{
                    width: 2em;
                }
            }
        }
        }
    }
    //Article Post page{
    .article-post-header{
        .post-feature-img{
            height: auto;
        }
    }
    .article-post-main{
        #post-title{
            h1{
                font-size: 3em;
            }
            p:last-of-type{
                font-size: 1.333em;
            }
        }
        #post-content{
            #post-text-content{
                padding: 0;
                h3{
                    font-size: 1.75em;
                }
                p{
                    font-size: 1.333em;
                }
                #prev-next-btns{
                    a{
                        font-size: 1.333em;
                        color: #6b6b6b;
                    }
                }
            }
            aside{
                .aside-articles{
                    display: flex;
                    .sub-article{
                        width: 50%;
                    } 
                }
            }
        }
    }
}

// extra large screens > than 1500px
@media(min-width: 1500px){
    .main-container{
        width: 1500px;
    }
}
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .margin{
        width: 100%;
        margin: 0;
    }
    nav{
        .navbar-toggler-icon{
            width: 2em;
            height: 2em;
        }
        ul{
            li{
                text-align: center; 
                .nav-link{
                    padding: 1.5rem 1rem;
                }
                a{
                    font-size: 1.2em;
                    padding: 1.5rem 1rem;
                }
            }
        }
    }
    main {
        #feature-article{
            #feature-img{
                height: 30rem;
            }
            .img-fluid{
                max-width: none;
                position: relative;
                right: 27em;
            }
            #feature-text{
                width: 100%;
            }
        }
        .sub-article{
            width: 100%;
            padding: 0 2em;
        }
    }
    footer{
        margin: 0 2em;
        .socialIcons{
            padding-right: 4em;
            div{
                svg{
                width: 2em;
            }
        }
        }
    }
    // Article Post Page
    .article-post-main{
        #post-title{
            padding-left: 2em;
            padding-right: 2em;
            h1{
                font-size: 3em;
            }
            p:last-of-type{
                font-size: 1.333em;
            }
        }
        #post-content{
            #post-text-content{
                padding: 0 2em;
            }
            h3{
                font-size: 1.75em;
            }
            p{
                font-size: 1.333em;
            }
            #prev-next-btns{
                a{
                    font-size: 1.333em;
                }
            }
            aside{
                .aside-title{
                    padding: 0 2em;
                }
                .aside-articles{
                    flex-direction: column;
                    .sub-article{
                        width: 100%;
                    }
                }
            }
        }
    }
}